/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;

}
body {
    margin: 0;
}

a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 3px 3px 5px grey;

}



nav {
    font-size: 30px;
    display: flex;
    background: linear-gradient(rgb(44, 39, 39), rgb(70, 63, 63));

}

.nav-link {
    padding: 20px;
}

.nav-link:hover {
    background: black;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    box-shadow: none;
}

.card {
    border: 1px solid rgb(44, 39, 39);
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}

.wrapper {
    margin: 100px 200px;
}

.invite-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.invite {
    padding: 10px 20px;

}

.reject-btn {
    background: linear-gradient(rgb(255, 30, 0) 50%, rgba(255, 68, 0, 0.918));

}
.reject-btn:hover {
    background-color: black;
    color: white;
}

.accept-btn {
    background-color: teal;
}

.accept-btn:hover {
    background-color: black;
    color: white;
}

.events {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;

}

.events img {
    height: 300px;
    width: 100%;
    background-position: center;
}

.events .container {
    padding: 20px;
    border: 1px solid black;
}

.evnt-info {
    display: block;
}

input[type=submit] {
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: rgb(95, 3, 3);
}