/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */

}

.wrapper {
    margin: 100px 20%;
}
body {
    margin: 0;
}

a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 3px 3px 5px grey;

}



nav {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgb(44, 39, 39), rgb(70, 63, 63));

}

.nav-link {
    padding: 20px;
}

.nav-link:hover {
    background: black;
}
.nav-link a, .navToggle {
    color: white;
    text-decoration: none;
    font-weight: 300;
    box-shadow: none;
}



@media (min-width: 1251px) {
    nav {
        display: flex !important;

    }
    .navToggle {
        display: none;
    }
}
@media (max-width: 1250px) {
    nav {
        text-align: center;
        flex-direction: column;
        display: none;
    }

    .profile-nav {
        grid-template-columns: 1fr;
    }

    .events, .event-show {
        grid-template-columns: 1fr;
    }

    .evnt-img {
        order: -1;
    }


    .navToggle {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 300;
        box-shadow: none;
        background: linear-gradient(rgb(44, 39, 39), rgb(70, 63, 63));
        font-size: 30px;
        text-align: center;


    }





}

@media (max-width: 900px) {
    .form, .wrapper {
        margin: 25px 20px;
        padding-left: 0px;

    }
 


    .event-show {
        padding: 10px;
    }



}

.card {
    border: 1px solid rgb(44, 39, 39);
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}



.invite-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.invite {
    padding: 10px 20px;

}

.reject-btn {
    background: linear-gradient(rgb(255, 30, 0) 50%, rgba(255, 68, 0, 0.918));

}
.reject-btn:hover {
    background-color: black;
    color: white;
}

.accept-btn {
    background-color: teal;
}

.accept-btn:hover {
    background-color: black;
    color: white;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 20px;

}

.events img {
    height: 300px;
    width: 100%;
    background-position: center;
}

.events .container {
    padding: 20px;
}

.evnt-info {
    display: block;
}

input[type=submit] {
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: rgb(95, 3, 3);
}

.tab2, .tab3 {
    display: none;
}

.tab1-toggle {
    background: linear-gradient(rgb(44, 39, 39), rgb(70, 63, 63));
    color: white;

}
.tab2-toggle, .tab3-toggle {
    background-color: white;
}

