// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.form {
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 50px;
    margin: 100px 25%; 

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        input[type=submit] {
            width: 100%;
        }
        * {
            padding: 15px;
            margin: 20px;
            border-radius: 8px;
            width: 90%;
        }
        .check-contain, input[type=file] {
            margin: 7px;
        }
        .check {
            width: 20px;
            justify-self: end;
            margin: 0;
            padding: 0;
            transform: scale(2);
        }
    }
}

.profile-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    .profile-nav-item {
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 3px 3px 5px grey;
        text-align: center;
        padding: 10px 10%;
    }
 
}



.event-show {
    padding: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.edit-evnt-btns a, .accept-btns a {
    display: block;
    margin-top: 10px;
    margin-right: 30px;
    border: 1px solid rgb(196, 195, 195);
}

.edit-evnt-btns a:hover, .accept-btns a:hover {
    background: linear-gradient(rgb(44, 39, 39), rgb(70, 63, 63));
    color: white;


}

.evnt-name {
    margin-top: 0;
    margin-bottom: 10px;
}

.host, .location, .date {
    font-size: medium;
    margin-bottom: 3px;
    margin-top: 0;
    color: rgb(46, 45, 45);
}

.details h4, .attendees {
    font-weight: 600;
    color: rgb(46, 45, 45);
    margin-bottom: 5px;

}

.details p {
    margin-top: 0px;
}


