// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.invites-frm {
    display: grid;
    margin: 100px 35%;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    font-size: 30px;
    box-shadow: 3px 3px 10px grey;
    border-radius: 5px;
    padding: 40px;
    input[type=checkbox] {
        margin-left: 12px;
        margin-top: 12px;
        transform: scale(3);
        
    }
    input[type=submit] {
        padding: 10px 20px;
    }
    


}

.invite-search {
    text-align: center;
}

